/* Body styling */
body {
  background-color: rgb(31, 30, 30);
}
/* Div main container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  margin: auto;
}

/* h1 styling */
h1 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: rgb(218, 214, 214);
  background-color: rgb(10, 10, 10);
  padding: 1em;
  width: 100%;
  border-radius: 20px;
}

/* Paragraph styling */
.desc {
  margin-bottom: 3em;
  color: rgb(218, 214, 214);
  font-family: "Asap Condensed", sans-serif;
}

/* Button container styling */
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Button styling */
.btn {
  padding-top: 50px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 50px;
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
  margin: 1em;
  border-radius: 20px;
  color: rgb(218, 214, 214);
  background-color: rgb(19, 18, 18);
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(78, 184, 245);
}

.btn:hover {
  box-shadow: 0 0 40px rgb(78, 184, 245);
}
